<h1>New Product</h1>

<%= render 'form', product: @product %>
<div class="row">
	<div class="col-xs-3 col-xs-offset-4">
	<%= link_to 'Back', products_path, :class => "btn btn-info" %>	
	</div>

</div>
